html,
body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
.login_form {
    padding: 5px;
}
.login_form input[type="text"], .login_form input[type="password"] {
    margin-bottom: 5px;
}
.login_form button {
    width: 100%;
    margin-bottom: 5px;
}
.copyright {
    min-height: 40px; 
    background-color: #000000;
    bottom: 0;
}
.copyright p {
    text-align: left; 
    color: #FFF; 
    padding: 10px 0; 
    margin-bottom: 0px;
}
.bottom_ul {
    list-style-type: none; 
    float: right; 
    margin-bottom: 0px;
}
.bottom_ul li {
    float: left; 
    line-height: 40px;
}
.bottom_ul li:after {
    content: "/"; 
    color: #FFF; 
    margin-right: 8px; 
    margin-left: 8px;
}
.bottom_ul li a {
    color: #FFF;  
    font-size: 12px;
}